@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  header{
        background: linear-gradient(145deg,#616c01,#123629,#0c1f32,#720143);
    
  }
